body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #d4d4d4;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock{
    font-size: 3em;
    font-weight: bold;
    color: #5c5c5c;
    margin: 20px;
    justify-content: center;
}

#box{
    display: grid;
    background-color: #fff;
    border-radius: 15%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr 1fr 0.8fr;
    height: 300px;
    width: 150px;
}

#day{
    font-size: 3em;
    font-weight: bold;
    background-color: #fd3737;
    color: #fff;
    padding: 0 auto;
    overflow: hidden;
    border-radius: 15% 15% 0% 0%;
}

#year{
    font-size: 3em;
    font-weight: bold;
    background-color: #fd3737;
    color: #fff;
    overflow: hidden;
    border-radius: 0% 0% 15% 15%;
}

#monthDay{
    font-size: 3.5em;
    font-weight: bold;
    color: #5c5c5c;
    justify-content: center;
}

